<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <label for="inputName">Name</label>
        <%= f.text_field :name, autofocusautofocus: true, class: "form-control name" %>
      </div>
     <div class="form-group">
        <label for="inputName">image</label>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "form-control-file user_image" %>
      </div>
      <div class="form-group">
        <label for="inputName">introduction</label>
        <%= f.text_area :introduction, autofocus: true, class: "form-control introduction" %>
      </div>autofocus
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
