<%= form_with model:book, local:true do |f| %>
  <div class="form-group">
    <p>Title</p>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <p>Opinion</p>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div id="star">
    <label>評価</label>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
  </div>
<% end %>

 <script>
   <!-- 評価 -->
    $('#star').raty({
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'book[rate]',
      half: true,
    });
  </script>
